In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("pwf.txt", sep = " ")

In [6]:
df.head()

   S.N  MBHP    QO       Qg     QW    TBG  DEPTH   API  STM  BTM    P   wh
0    1  2804  4600  2693.37  11000  4.000   6621  32.6   90  212  175  NaN
1    2  2368   700   411.69   1300  2.441   6271  32.6   90  212  230  NaN
2    3  2343  8616  4230.46   2500  3.813   6294  36.5  156  208  285  NaN
3    4  2161  2983  1023.09    905  3.958   6345  32.8   90  180  220  NaN
4    5  2289  3792  1749.74   3796  4.000   6340  32.6   90  212  210  NaN